.root{
    -fx-background-color: #e8122a;
}

#timeText{
    -fx-font-size: 48px;
}

#createButton{
    -fx-background-color: rgba(100%,0%,0%,0);
    -fx-text-fill: #27281f;
    -fx-font-size: 24px;
    -fx-font-weight: bolder;
}

#nowText{
    -fx-font-size: 16px;
}